

.job-container{

    margin-left: 4%;
    margin-right: 4%;
 
    
    

}
.mat-paginator{
    background:rgb(201, 198, 198);
}
.mat-divider{
    padding-bottom:10px;
}
.progress-bar{
    position: fixed;
    z-index: 5;
    margin:0px;
}