/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin:0px;
    padding:0px;
    background:rgb(201, 198, 198);
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: darkslategrey;
}